<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Negocio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="sidebar">
    <h2>Menú</h2>
    <button class="menu-btn" id="btnInicio">Inicio</button>
    <button class="menu-btn" id="btnVenta">Registrar Venta</button>
    <button class="menu-btn" id="btnPago">Registrar Pago</button>
    <button class="menu-btn" id="btnCargaP">Cargar Producto</button>
    <a class="menu-btn" id="btnDeudores" href="/Deudores.html">Lista Deudores</a>

</div>
<div class="content" id="mainContent">
    <div class="inner-content">
        <h1>Bienvenido a mi negocio</h1>
        <p>Este es un ejemplo con una barra lateral y botones que cambian de color al pasar el mouse. crack</p>
    </div>
</div>
<script src="script.js"></script>
</body>
</html>